<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h1 th:text="${hello}"></h1>
    <!--局部刷新html-->
    <div>
        <div id="details"></div>
        <button value="点击" onclick="send()" >点击</button>
        <SCRIPT>
            function send(){
                var request = new XMLHttpRequest();
                var method = "GET";
                var url = "/hello3.html";
                request.open(method,url);
                request.send(null);
                request.onreadystatechange = function(){
                    if(request.readyState == 4){
                        if(request.status == 200 || request.status == 304){
                            document.getElementById("details").innerHTML = request.responseText;
                        }
                    }
                }
                return false;
            }
        </SCRIPT>
    </div>

</body>
</html>