<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="per.codeant.common.proxy.ConfigTagsRelationMapper">

	<insert id="batchInsert" useGeneratedKeys="true" keyProperty="nid" parameterType="java.util.List">
		INSERT INTO config_tags_relation
			 (
				id,
				tag_name,
				tag_type,
				data_id,
				group_id,
				tenant_id,
				nid
			) VALUES 
		<foreach collection="list" item="record" separator="," index="index">
			(
				#{record.id},
				#{record.tagName},
				#{record.tagType},
				#{record.dataId},
				#{record.groupId},
				#{record.tenantId},
				#{record.nid}
			)
		</foreach>
	</insert>
</mapper>