<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="per.codeant.common.proxy.ConfigInfoMapper">

	<insert id="batchInsert" useGeneratedKeys="true" keyProperty="id" parameterType="java.util.List">
		INSERT INTO config_info
			 (
				id,
				data_id,
				group_id,
				content,
				md5,
				gmt_create,
				gmt_modified,
				src_user,
				src_ip,
				app_name,
				tenant_id,
				c_desc,
				c_use,
				effect,
				type,
				c_schema
			) VALUES 
		<foreach collection="list" item="record" separator="," index="index">
			(
				#{record.id},
				#{record.dataId},
				#{record.groupId},
				#{record.content},
				#{record.md5},
				#{record.gmtCreate},
				#{record.gmtModified},
				#{record.srcUser},
				#{record.srcIp},
				#{record.appName},
				#{record.tenantId},
				#{record.cDesc},
				#{record.cUse},
				#{record.effect},
				#{record.type},
				#{record.cSchema}
			)
		</foreach>
	</insert>
</mapper>