<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="per.codeant.common.proxy.ConfigInfoTagMapper">

	<insert id="batchInsert" useGeneratedKeys="true" keyProperty="id" parameterType="java.util.List">
		INSERT INTO config_info_tag
			 (
				id,
				data_id,
				group_id,
				tenant_id,
				tag_id,
				app_name,
				content,
				md5,
				gmt_create,
				gmt_modified,
				src_user,
				src_ip
			) VALUES 
		<foreach collection="list" item="record" separator="," index="index">
			(
				#{record.id},
				#{record.dataId},
				#{record.groupId},
				#{record.tenantId},
				#{record.tagId},
				#{record.appName},
				#{record.content},
				#{record.md5},
				#{record.gmtCreate},
				#{record.gmtModified},
				#{record.srcUser},
				#{record.srcIp}
			)
		</foreach>
	</insert>
</mapper>