<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="per.codeant.common.proxy.TbPmsUserMapper">

	<insert id="batchInsert" useGeneratedKeys="true" keyProperty="id" parameterType="java.util.List">
		INSERT INTO tb_pms_user
			 (
				F_USERID,
				F_NAME,
				F_EMAIL,
				F_MOBILE,
				F_PASSWORD,
				F_FLAG,
				F_REGISTERTIME,
				F_LASTLOGIN,
				F_AREAID,
				F_LEVEL_ID,
				F_HOSTID,
				F_ISLOCK,
				F_LOCKDATEBEGIN,
				IF_SUPERUSER,
				F_LASTMODIFY
			) VALUES 
		<foreach collection="list" item="record" separator="," index="index">
			(
				#{record.fUserid},
				#{record.fName},
				#{record.fEmail},
				#{record.fMobile},
				#{record.fPassword},
				#{record.fFlag},
				#{record.fRegistertime},
				#{record.fLastlogin},
				#{record.fAreaid},
				#{record.fLevelId},
				#{record.fHostid},
				#{record.fIslock},
				#{record.fLockdatebegin},
				#{record.ifSuperuser},
				#{record.fLastmodify}
			)
		</foreach>
	</insert>
</mapper>