<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="per.codeant.common.proxy.TbPmsModuleMapper">

	<insert id="batchInsert" useGeneratedKeys="true" keyProperty="id" parameterType="java.util.List">
		INSERT INTO tb_pms_module
			 (
				MOD_ID,
				MOD_PARENTID,
				MOD_NAME,
				MOD_TYPE,
				MOD_DESC,
				MOD_URL,
				MOD_COUNTER,
				MOD_ORDER
			) VALUES 
		<foreach collection="list" item="record" separator="," index="index">
			(
				#{record.modId},
				#{record.modParentid},
				#{record.modName},
				#{record.modType},
				#{record.modDesc},
				#{record.modUrl},
				#{record.modCounter},
				#{record.modOrder}
			)
		</foreach>
	</insert>
</mapper>