<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="per.codeant.common.proxy.TbPmsAreaMapper">

	<insert id="batchInsert" useGeneratedKeys="true" keyProperty="id" parameterType="java.util.List">
		INSERT INTO tb_pms_area
			 (
				AREA_ID,
				AREA_NAME,
				AREA_DESC,
				PARENT_AREA_ID,
				SORT_ORDER
			) VALUES 
		<foreach collection="list" item="record" separator="," index="index">
			(
				#{record.areaId},
				#{record.areaName},
				#{record.areaDesc},
				#{record.parentAreaId},
				#{record.sortOrder}
			)
		</foreach>
	</insert>
</mapper>