<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="per.codeant.common.proxy.TenantInfoMapper">

	<insert id="batchInsert" useGeneratedKeys="true" keyProperty="id" parameterType="java.util.List">
		INSERT INTO tenant_info
			 (
				id,
				kp,
				tenant_id,
				tenant_name,
				tenant_desc,
				create_source,
				gmt_create,
				gmt_modified
			) VALUES 
		<foreach collection="list" item="record" separator="," index="index">
			(
				#{record.id},
				#{record.kp},
				#{record.tenantId},
				#{record.tenantName},
				#{record.tenantDesc},
				#{record.createSource},
				#{record.gmtCreate},
				#{record.gmtModified}
			)
		</foreach>
	</insert>
</mapper>