<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="per.codeant.common.proxy.TenantCapacityMapper">

	<insert id="batchInsert" useGeneratedKeys="true" keyProperty="id" parameterType="java.util.List">
		INSERT INTO tenant_capacity
			 (
				id,
				tenant_id,
				quota,
				usage,
				max_size,
				max_aggr_count,
				max_aggr_size,
				max_history_count,
				gmt_create,
				gmt_modified
			) VALUES 
		<foreach collection="list" item="record" separator="," index="index">
			(
				#{record.id},
				#{record.tenantId},
				#{record.quota},
				#{record.usage},
				#{record.maxSize},
				#{record.maxAggrCount},
				#{record.maxAggrSize},
				#{record.maxHistoryCount},
				#{record.gmtCreate},
				#{record.gmtModified}
			)
		</foreach>
	</insert>
</mapper>